.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: gray;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 190px;
  z-index: 1;
}

.dropdown-menu::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
