.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #dddddd;
  width: 78vw;
  height: 100%;
  padding: 10px;
  border-radius: 12px;
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  height: 70vh;
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  padding: 12px;
  background-color: #fff;
  align-self: flex-start;
  max-width: 60%;
}

.user-message {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  padding: 12px;
  background-color: #fff;
  text-align: end;
  align-self: flex-end;
  max-width: 60%;
}

small {
  font-size: 1rem;
  font-weight: 600;
}

pre {
  font-size: 1.2rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.timestamp {
  font-size: 0.8rem;
  color: #494949af;
}

.message-form {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

textarea {
  height: 83px;
  resize: none;
}
