<app-modal-crud [title]="action() + ' Chat'">
  <form [formGroup]="chatService.basicForm">
    <app-tabs>
      <app-tab title="Principal">
        <div class="form-row">
          <div class="form-group">
            <label for="name">
              None
              {{ chatService.basicForm.controls["name"].validator ? "*" : "" }}
            </label>
            <input
              id="name"
              type="text"
              formControlName="name"
              placeholder="Digite o nome do chat"
              [ngClass]="{
                'is-invalid':
                  chatService.basicForm.controls['name'].invalid &&
                  chatService.basicForm.controls['name'].touched
              }"
            />
            <div
              *ngIf="
                chatService.basicForm.controls['name'].invalid &&
                chatService.basicForm.controls['name'].touched
              "
              class="error-message"
            >
              O Nome é obrigatório.
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="color">
              Cor
              {{ chatService.basicForm.controls["color"].validator ? "*" : "" }}
            </label>
            <input
              id="color"
              type="color"
              formControlName="color"
              [ngClass]="{
                'is-invalid':
                  chatService.basicForm.controls['color'].invalid &&
                  chatService.basicForm.controls['color'].touched
              }"
            />
            <div
              *ngIf="
                chatService.basicForm.controls['color'].invalid &&
                chatService.basicForm.controls['color'].touched
              "
              class="error-message"
            >
              A cor é obrigatória.
            </div>
          </div>
        </div>
      </app-tab>
      <app-tab title="Usuários" *ngIf="chatId > 0">
        <div class="form-row">
          <div class="form-group" style="width: 18%">
            <label for="userId"> Usuários* </label>
            <select
              id="userId"
              [(ngModel)]="userId"
              [ngModelOptions]="{ standalone: true }"
              (change)="addUser()"
            >
              <option [value]="0">-- Selecione uma opção --</option>
              <option *ngFor="let user of users" [value]="user.id">
                {{ user.name }}
              </option>
            </select>
          </div>
        </div>
        <app-list
          [lista]="paginatedChats"
          [propriedades]="['Nome']"
          [acoesTemplate]="acoes"
        >
        </app-list>
        <ng-template #acoes let-item="item">
          <div class="action-btn-wrapper">
            <button class="action-bnt" (click)="onDeleteUser(item.Id)">
              <span class="material-icons">delete</span>
            </button>
            <span class="tooltip">Deletar</span>
          </div>
        </ng-template>
      </app-tab>
    </app-tabs>
  </form>
  <div class="form-actions">
    <button type="button" (click)="onCancel()">Cancelar</button>
    <button
      type="submit"
      [disabled]="chatService.basicForm.invalid || action() == 'Visualizar'"
      (click)="ngOnSubmit()"
    >
      {{ action() }}
    </button>
  </div>
</app-modal-crud>
